header {

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 50px;
text-align: center;
background-color: #111113;
color: #ffffff;
margin: -8px;
padding: 20px;

}


body {

background-color: #f6ebdd;

}

.imp {

font-family:Verdana, Geneva, Tahoma, sans-serif;
text-align: center;


}


h2 {

font-family: Arial, Helvetica, sans-serif;
margin: 60px;
font-size: 40px;

}


h1 {

font-size: 40px;

}

article {

    font-family: Arial, Helvetica, sans-serif;
text-align: justify;
margin: 60px;
font-size: 20px;

}

.ultimo {

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 39px;
text-align: justify;
margin-top: 80px;

}

nav {

    text-align: center;
    font-size: 20px;
    margin: 40px;

}

.site {


}

footer {

background-color: #acbfb7;
padding: 20px;
margin: -8px;
text-align: center;

}

.site {

font-size: 30px;

}

img {

width: 700px;
height: 300px;
object-fit: cover;
justify-content: center;

}

.a {

width: auto;
height: auto;


}

a:link {

color: blue;

}

a:visited {

color: black;

}